.container
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h5.text-center Change money from one currency to another
        .panel-body
          .row
            .col-sm-6.col-sm-offset-3#error-div.text-center
          .row
            = form_for @exchange, :html => { class: "inline-form" }, url: { action: "create" }, remote: true do |f|
              .col-xs-2.col-sm-offset-1
                .form-group
                  = f.label :base_currency_id, "Base currency"
                  = f.select :base_currency_id, options_from_collection_for_select(@currencies, 'id','code'), { include_blank: true}, { class: "form-control", id: "base_currency_id" }
              .col-xs-2
                .form-group
                  = f.label :target_currency_id, "Target currency"
                  -#= f.number_field :target_currency_id, class: "form-control"
                  = f.select :target_currency_id, options_from_collection_for_select(@currencies, 'id','code'), { include_blank: true} , { class: "form-control", id: "target_currency_id" }
              .col-xs-2
                .form-group
                  = f.label :amount, "Amount"
                  = f.number_field :amount, class: "form-control"
              .col-xs-3
                .form-group
                  = f.label :period, "Waiting time (in weeks)".html_safe
                  = f.number_field :period, class: "form-control"
              .col-xs-2
                = f.submit "Add", class: "btn btn-primary currency-form"
-#  .row
-#    .col-sm-12
-#      .panel.panel-default
-#        .panel-heading
-#          %h3.text-center Your currency exchanges
-#        %table.table.table-bordered
-#          %tbody.text-center
-#            %tr.text-center
-#              %th.text-center Base <br/>currency
-#              %th.text-center Target <br/>currency
-#              %th.text-center Amount
-#              %th.text-center Waiting Time (in weeks)
-#              %th.text-center Update/Delete
-#
-#            - @user_currency_exchanges.each do |currency|
-#              %tr.accordion-toggle{"data-target" => "#demo1", "data-toggle" => "collapse"}
-#                %td
-#                  = currency.base_currency.code
-#                %td
-#                  = currency.target_currency.code
-#                %td
-#                  = currency.amount
-#                %td
-#                  = currency.week_nr
-#                %td
-#                  .btn-group-xs
-#                    %button.btn.btn-success
-#                      %span.glyphicon.glyphicon-ok
-#                    %button.btn.btn-danger
-#                      %span.glyphicon.glyphicon-remove
-#
-#                        -#- currency.future_rates.each do |f|
-#                    -#  %tr
-#                    -#    %td
-#                    -#      = f[:period]
-#                    -#    %td
-#                    -#      = f[:predicted_rate]
-#                    -#    %td
-#                    -#      = f[:future_exchange_value]
-#                    -#    %td
-#                    -#      = f[:difference]
-#                    -#    %td
