.container
  .row
    .col-xs-12
      .card.card-block
        %h4.card-title Change money from one currency to another
        .card-text
          .row
            .col-xs-6.offset-xs-2#error-div.text-center
          .row
            = form_for @exchange, :html => { class: "inline-form" }, url: { action: "create" }, remote: true do |f|
              .col-xs-2.col-sm-offset-1
                .form-group
                  = f.label :base_currency_id, "Base currency"
                  = f.select :base_currency_id, options_from_collection_for_select(@currencies, 'id','code'), { include_blank: true}, { class: "form-control", id: "base_currency_id" }
              .col-xs-2
                .form-group
                  = f.label :target_currency_id, "Target currency"
                  -#= f.number_field :target_currency_id, class: "form-control"
                  = f.select :target_currency_id, options_from_collection_for_select(@currencies, 'id','code'), { include_blank: true} , { class: "form-control", id: "target_currency_id" }
              .col-xs-2
                .form-group
                  = f.label :amount, "Amount"
                  = f.number_field :amount, class: "form-control"
              .col-xs-3
                .form-group
                  = f.label :period, "Waiting time (in weeks)".html_safe
                  = f.number_field :period, class: "form-control"
              .col-xs-2
                = f.submit "Add", class: "btn btn-primary currency-form"
  .row
    .col-xs-12
      .card.card-block
        %h4.card-title Your currency exchanges
        .card-text
          %table.table.table-bordered
            %tbody.text-center
              %tr.text-center
                %th.text-center Base <br/>currency
                %th.text-center Target <br/>currency
                %th.text-center Amount
                %th.text-center Waiting Time (in weeks)
                %th.text-center Update/Delete

              - @currency_exchanges.each do |exchange|
                %tr{:id => "#{exchange.id}"}
                  %td
                    = exchange.base_currency.code
                  %td
                    = exchange.target_currency.code
                  %td
                    = exchange.amount
                  %td
                    = exchange.period
                  %td
                    .btn-toolbar{"aria-label" => "Toolbar with button groups", :role => "toolbar"}
                      .btn-group{"aria-label" => "First group", :role => "group"}
                        = link_to exchange_path(exchange), method: :get, class: "btn btn-success btn-sm" do
                          %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                      .btn-group{"aria-label" => "Second group", :role => "group"}
                        = link_to exchange_path(exchange), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-danger btn-sm" do
                          %i.fa.fa-trash-o{"aria-hidden" => "true"}


    -#%a.btn.btn-danger.btn-sm{"aria-pressed" => "true", :href => "#", :role => "button"}
                        -#= link_to "#",

